@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@600&display=swap");

* {
    background-color: rgb(105, 52, 125);
}

@keyframes entrar {
    0% {
        transform: translateX(-40vw);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(+40vw);
    }
}

.entrando {
    width: 50%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: right;
    background-color: transparent;
    animation: entrar 2s;
}

h1 {
    font-family: 'Fredericka the Great';
    color: white;
    font-size: 40px;
    margin: 0;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beatlle-juice-walk {
    display: flex;
    justify-content: center;
    align-items: center;
}
