body {
    background-color: pink;
}

.like {
    width: 20%;
    height: 20%;
    align-content: center;
    align-items: center;
}

#checkbox-like {
    visibility: hidden;
}

#checkbox-like:not(:checked) ~ .likepending-img {
    display: none;
}

#checkbox-like {
    top: 70px;
    left: 62px;
    width: 40px;
    height: 40px;
}

#checkbox-like:checked + label {
    display: none;
}